Flask==3.0.0
gunicorn==20.1.0
Werkzeug==3.0.1
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
dill==0.3.8
idna==3.6
joblib==1.3.2
nltk==3.8.1
pythainlp==2.1.4
regex==2023.12.25
requests==2.31.0
Thaispoon==0.0.2
tinydb==4.8.0
tqdm==4.66.2
urllib3==2.2.1